*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: #ECF0F1 ;
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

.insta{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 50%;
    height: 100vh;
}

.instacel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insatcel img{
    height: 50rem;
}
.foto-perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img{
  height: 8rem;
}


.insta-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.insta-profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    margin-top: 20px;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-width: 19rem;
}

.insta-logo{
    height: 6rem;
}

.instagram-login{
    margin-top: 20px;
    background-color:  #0095f6; 
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160,160,160);

}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 9rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('img/googleplay-button.png');
}


@media(max-width:124px){
    .insta{
        width: 90%;
    }
}


@media(max-width:650px){
    .insta{
        width: 90%;
    }

    .instacel{
        display:none;
    }

    .insta-profile{
        width: 100%;
    }
}